/* .info-work {
  width: 100%;
  margin-top: 20px;
}

.info-work .accordion-button[aria-expanded="true"] {
  background-color: #e5ad2183;
  color: #000;
}

.accordion-button:focus {
  border-color: #e5ad2134 !important;
  box-shadow: 0 0 0 0.25rem #e5ad2134 !important;
}

.accordion-button::after {
  background-image: var(--bs-accordion-btn-icon) !important;
} */
